<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegister</servlet-name>
  	<display-name>UserRegister</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>com.servlet.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOut</servlet-name>
  	<display-name>LogOut</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExpenseServlet</servlet-name>
  	<display-name>ExpenseServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.ExpenseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateExpenseServlet</servlet-name>
  	<display-name>UpdateExpenseServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateExpenseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteExpenseServlet</servlet-name>
  	<display-name>DeleteExpenseServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteExpenseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<display-name>EditProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegister</servlet-name>
  	<url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/logOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExpenseServlet</servlet-name>
  	<url-pattern>/ExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateExpenseServlet</servlet-name>
  	<url-pattern>/UpdateExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteExpenseServlet</servlet-name>
  	<url-pattern>/DeleteExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>
